.gray-background {
  background-color: gray;
}

.show-title {
  background-color: lightgray;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.show-row {
  margin: 0px;
}

.show-icon {
  padding-left: 2%;
  flex: 0 0 10%;
}

.show-row-center {
  flex: 0 0 40%;
  font-size: 16px;
  font-weight: 200;
  padding-left: 2%;
}

.show-row-right{
  font-size: 16px;
  font-weight: 600;
  padding-right: 2%;
  flex: 0 0 50%;
  text-align: right;
}

