.gray-background {
  // background-color: gray;
}

.show-title {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}
.red-penalty {
   color: #C80C00;
}

.show-row {
  margin: 0px;
  padding: 12px;
}

.show-icon {
  padding-left: 2%;
  flex: 0 0 10%;
  display: flex;
}

.show-row-center {
  flex: 0 0 40%;
  font-size: 16px;
  font-weight: 200;
  padding-left: 2%;
}

.show-row-right{
  font-size: 16px;
  font-weight: 600;
  padding-right: 2%;
  flex: 0 0 50%;
  text-align: right;
}

.show-bottom-menu {
  background-color: $brand-primary;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-menu-element{
  color: white;
  display: block;
  text-align: center;
  padding: 8px 0;

  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:active, &:focus {
      text-decoration: none;
    }
  }
}
.bottom-menu-btn{
  background-color: transparent;
  border: none;
}

.bottom-menu-option-text {
  font-size: 12px;
}

.show-total-row {
  font-weight: 600;
  padding-left: 4%;
}

.flex {
  display: flex;
}

.show-image {
  height: 24vh;
  background-size: cover;
  background-position: center;
}

.green-box{
  width: 80px;
  text-align: right;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(98,200,60,0.4);
  color: #00490B;
  padding: 2px 5px;
}
.red-box{
  background-color: #FF8E8E;
  color: #C80C00;
}

.show-total-price {
  text-align: -webkit-right;
}
