.gray-background {
  background-color: gray;
}

.show-title {
  background-color: lightgray;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.show-row {
  margin: 0px;
  padding: 12px;
}

.show-icon {
  padding-left: 2%;
  flex: 0 0 10%;
  display: flex;
}

.show-row-center {
  flex: 0 0 40%;
  font-size: 16px;
  font-weight: 200;
  padding-left: 2%;
}

.show-row-right{
  font-size: 16px;
  font-weight: 600;
  padding-right: 2%;
  flex: 0 0 50%;
  text-align: right;
}

.show-bottom-menu {
  background-color: $brand-primary;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-menu-element{
  color: white;
  display: block;
  text-align: center;
}

