.new-ticket-form-wrapper{
  background-color: white;
  margin-top: 8px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  h1 {
    font-size: 30px;
    padding: 0px 16px;
    text-align: center;
  }
}
