.graph-title {
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 2px;
}
.table-title {
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 24px;
}

table.paleBlueRows {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
  text-align: center;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: rgba(240, 93,94, 0.1 );
}
table.paleBlueRows thead {
  background: rgba(240, 93,94, 0.8 );
}
table.paleBlueRows thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: rgba(240, 93,94, 0.4 );
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

.background-white {
  background-color: white;
}

.bottom-space {
  margin-bottom: 24px;
}

.huge-number {
  font-size: 48px;
 }

 .big-number {
  font-size: 28px;
 }

.flex-space-around {
  display: flex;
  justify-content: space-around;
 }

.small-font-size {
  font-size: 14px;
}

.arqueo-card-container {
  margin: 8px 0px;
  height:120px;
}

.bottom-padding-big {
  padding-bottom: 24px;
}

.flex-align-center {
  align-items: center;
}

.no-padding {
  padding: 0px
}
