<div class="navbar-wagon navbar-wagon-transparent">
  <!-- Logo -->
  <h1>APPARKI</h1>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>
  </div>
</div>
<div class="banner">
  <div class="banner-content">
    <h1>Apparki</h1>
    <p>La solución para parqueaderos</p>
    <%= link_to "Solicitar Demo",new_user_session_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>
