<% if @tickets.empty? %>
  <h5 class="index-title">No se han encontrado vehículos para tu busqueda</h5>
<% end %>

<% if @open_tickets.any? %>
  <h5 class="index-title">Vehículos parqueados</h5>
<% end %>

<div class="card-container">
  <div class="row">
    <% @open_tickets.each do |ticket|  %>
      <%= render 'shared/cards', ticket: ticket %>
    <% end %>
  </div>
</div>

<% if @close_tickets.any? %>
  <h5 class="index-title">Parqueaderos pagados</h5>
<% end %>
<div class="card-container">
  <div class="row">
    <% @close_tickets.each do |ticket| %>
      <%= render 'shared/cards', ticket: ticket %>
    <% end %>
  </div>
</div>
<%= button_to new_ticket_path,  class: "mdc-fab material-icons fab-bottom-right fab-color", method: :get do %>
  <i class="material-icons">
    add
  </i>
  <i class="material-icons">
    directions_car
  </i>
<% end %>
<div id="demo-menu" class="mdc-menu-anchor">
  <button id="menu-button">Open Menu</button>
  <div class="mdc-menu">
    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
      <li class="mdc-list-item" role="menuitem" tabindex="0">
        A Menu Item
      </li>
      <li class="mdc-list-item" role="menuitem" tabindex="0">
        Another Menu Item
      </li>
    </ul>
  </div>
</div>
