<div class="container">
  <div class="new-ticket-form-wrapper">
    <div class="row">
      <h1 class="mdc-typography--headline1">Nuevo Tiquete de Parqueadero</h1>
      <%= render 'shared/ticket_form' %>
    </div>
  </div>
</div>


