<div class="parking-zone-banner">
  <div class="banner-content">
    <h1>Apparki</h1>
    <h3 class="margin-center">Encuentra un lugar para estacionar</h3>
    <h4>Buscas estacionamiento para:</h4>
    <div class="option-buttons flex flex-align-center flex-space-around">
      <%= link_to "Carro", parking_zones_path(vehicle_type: "car" ), class: "mdc-button mdc-button--raised button-margin btn-width-medium btn-side-margin" %>
      <%= link_to "Moto", parking_zones_path(vehicle_type: "bike" ), class: "mdc-button mdc-button--raised button-margin btn-width-medium btn-side-margin" %>
    </div>
  </div>
</div>
