.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: hidden;
}
.banner-content{
  align-self: flex-start;
  margin-top: 15%;
  height: 100%;
  width: 50vw;
  a {
    width: auto;
  }
}
.sumni-svg {
  transform: rotate(45deg) scale(0.8);
  margin-top: 15%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: #434343;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #8A8A8A;
  margin-bottom: 30px;
}
@media (max-width: 844px) {
  .banner {
    height: 100%;
    // overflow-y: auto;
    .banner-content{
      margin-top: 80px;
      height: auto;
      width: auto;
      h1{
        font-size: 36px;
      }
      p {
        font-size: 16px;
      }
    }
    .sumni-svg {
      transform: rotate(0deg) scale(0.8);
      margin-top: 0px;
    }
  }
}
// Parking zone banner
.parking-zone-banner {
  background-image: linear-gradient(45deg, rgba(226,226,226,0.3) 0%, rgba(226,226,226,0.3) 1%, rgba(219,219,219,0.3) 24%, rgba(215,215,215,0.3) 30%, rgba(186,186,186,0.3) 79%, rgba(181,181,181,0.3) 88%), asset-url('parking_landing');
  color: white;
  text-align: center;
  height: calc(100vh);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

.margin-center {
  margin-right: 5%;
  margin-left: 5%;
}

.width-full {
  width: 100%;
}
