@import "@material/button/mdc-button";

.export-btn-margin {
  margin-top: 10px !important;
}

.text-white {
  color: white !important;;
}

.background-gray {
  background: gray !important;;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}
.mdc-button--outlined{
  padding: 0px 18px;
}
