.card {
  display: flex;
  padding: 4px 8px;
  margin: 1px 0px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.index-title {
  padding: 4px 16px;
  margin-top: 24px;
}

.card-car-icon {
  color: $brand-primary;
  flex: 0 0 10%;
  text-align: center;
}

.card-car-central {
  flex: 0 0 70%;
  display:block;
  color: #333;
  padding-left: 4%;
}

.card-car-right{
  flex: 0 0 20%;
  text-align: right;
  padding-right: 8px;
}

.card-container{
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.card-car-central-sec {
  font-size: 10px;
  font-weight: 600;
}

.card-link {
  text-decoration: none;
}

.car-size-big {
  font-size: 32px;
}
