.image-preview{
  background-color: rgba(0,0,0,0.2);
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  input{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.image-preview-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-preview-label {
  font-family: Roboto, sans-serif;
  // padding-top: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.009375em;
}
