/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $brand-primary;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-wagon-icon{
    font-size: 40px;
    color: white;
  }
}

.navbar-wagon-transparent {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0px;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  .navbar-wagon-dropicon {
    color: white;
    font-size: 40px;
  }
  h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  a:active, a:focus {
    text-decoration: none;
  }
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* The side navigation menu */
.sidenav {
  box-shadow:0 1px 1em rgba(0,0,0,0.3);
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .sidenav-header{
    height: 30%;
    background: $brand-primary;
    position:relative;
    h4 {
      position:absolute;
      bottom: 8px;
      color: white;
      margin-left: 32px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #757575;
    display: block;
    transition: 0.3s;
    i {
      padding-right: 8px;
    }
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.item-hidden{
  visibility: hidden;
}
