.new_ticket{
  label, input, option, select{
   font-size: 14px;
  }
  input[type="submit"] {
    font-size: 13px;
  }
}
.col-margin {
  margin-top: 24px;
}
.button-margin {
  font-size: 12px;
  margin-top: 16px;
  width: 100%;
  &:active, &:focus {
    text-decoration: none;
  }
}
